html, body {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
}

nav {
  width: 100%;
}

#navbar header {
  background: #ffff77;
  text-align: center;
  padding: 8px;
}

.nav-link {
  display: block;
  background: #ffff77;
  padding: 4px 10px;
  border: 1px solid brown;
  text-decoration: none;
}

.nav-link:hover {
  background: #e0e01e;
}

#main-doc {
  width: 100%;
  background: whitesmoke;
}
.main-section {
  padding: 8px;
}
