html, body {
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  background: white;
}

#nav-container {
  width: 100%;
}

#navbar {
  position: static;
}

#navbar header {
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
}

#navbar ul {
  border: 1px groove #eeeeee;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #070707;
  display: block;
  padding: 4px 10px;
  border: 1px solid #e4e4e4;
  text-decoration: none;
}

.nav-link:hover {
  background: whitesmoke;
}

#main-doc {
  width: 100%;
  background: white;
}

.main-section {
  padding: 8px;
}

.main-section header {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: whitesmoke;
  padding: 8px 0;
}

pre {
  overflow: scroll;
}

img {
  width: 100%;
}
